footer {
    background-color: $colorPrimario;
  
    .container-fluid .row {
      img {
        display: inline-block;
        width: $widthBase*40;
        height: 200px;
      }
  
      h5 {
        letter-spacing: 3px;
      }
  
      footer p {
        color: $colorSecundario;
        margin-top: 40px;
      }
    }
  
    ul:hover a {
      filter: blur(2px);
    }
  
      ul li {
        a:hover {
          transform: translateY(-3px) scale(1.05);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          filter: none;
        }
        
        .instagram:hover {
          background-color: $instagram;
          padding: $paddingRedes;
        }
  
        .whatsapp:hover {
          background-color: $whatsapp;
          padding: $paddingRedes;
        }
  
        .facebook:hover {
          background-color: $facebook;
          padding: $paddingRedes;
        }
  
        font-size: 30px;
      }
  
      a img {
        width: $widthBase*11;
        height: 35px;
      }
  }