header {
    background-color: $colorPrimario;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0 0 10px 10px;
  
    .navbar {
      .carrito-celular, .row a {
        display: $quitarElemento;
      }
    }
  
    &.navbar a {
      color: $colorSecundario;
      font-size: 20px;
      text-decoration: $quitarElemento;
    }
  
    .navbar {
      .nav-link {
        color: $colorSecundario;
        font-size: 20px;
      }
  
      .collapse {
        .dropdown-menu {
          background-color: $colorPrimario;

          li .dropdown-item{
            color: $colorSecundario;
          }
        }
  
        .form-control {
          height: 49px;
          margin-top: 15px;
        }
  
        .d-flex button {
          margin-right: $marginRightBase*2;
          outline: 1.5px solid $colorTerciario;
          color: $colorTerciario;
          height: 47px;
  
          &:hover {
            background-color: $colorTerciario;
            color: $colorSecundario;
          }
        }
      }
  
      img {
        width: $widthBase*8;
        margin-bottom: 2px;
        margin-right: $marginRightBase*3;
        cursor: pointer;
      }
  
      .collapse .nav-link:hover {
        color: rgb(107, 107, 107);
      }

      .collapse .dropdown-menu li .dropdown-item:hover{
        color:$colorPrimario;
      }
    }
  }