@media (max-width: 575px) {

  header {
    nav {
      .container-fluid {
        .seccion-escritorio {
          display: $quitarElemento;
          /*BOTONES DE CARRITO Y BUSCAR EN NAVBAR*/
        }
      }
    }
  }

  main {
    h1 a {
      display: $quitarElemento;
      /*COPA EN EL NOMBRE DE LA EMPRESA*/
    }
  }

  footer {
    a img {
      width: $widthBase*2;
      height: 20px;
      /*MEDIOS DE PAGO*/
    }
  }

}

@media (max-width: 995px) {
  footer {

    .container-fluid .row {

      &.logo,
      .ubicacion {
        display: $quitarElemento;
        /*IFRAME DE FOOTER*/
      }
    }

    a img {
      width: $widthBase*8;
      height: 25px;
      /*MEDIOS DE PAGO*/
    }
  }
}

@media (max-width: 1199px) {
  main {

    .container-fluid .row .imagen-nosotros,
    .container .row .imagen-contacto {
      display: $quitarElemento;
      /*IMAGENES SVG*/
    }
  }
}