@media (max-width: 575px) {

  header {
    nav {
      .container-fluid {
        .seccion-escritorio {
          display: none;
        }
      }
    }
  }

  main {
    h1 a {
      display: $quitarElemento;
    }
  }

}

@media (max-width: 995px) {
  main {

    .container-fluid .row .imagen-nosotros,
    .container .row .imagen-contacto {
      display: $quitarElemento;
    }
  }

  footer .container-fluid .row {

    &.logo,
    .ubicacion {
      display: $quitarElemento;
    }
  }
}