$colorPrimario: #242121;
$colorSecundario: #fff;
$colorTerciario: orange;
$boxshadowCards: 6px 6px 5px;
$marginRightBase: 5px;
$widthBase: 5px;
$quitarElemento: none;
$instagram:#C13584;
$whatsapp:#25D366;
$facebook:#4267B2;
$paddingRedes: 8px 15px;

