* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/imagenprincipal.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondo-nosotros {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/fondonosotros.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondo-contacto {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/fondocontacto.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondo-cervezas {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/fondocervezas.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondo-gaseosas {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/fondogaseosas.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondo-vinos {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/fondovinos.jpg) no-repeat center center fixed;
    background-size: cover;
}

.fondo-alcohol {
    min-height: 100vh;
    background: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../imagenes/fondoalcohol.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: #242121;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 0 0 10px 10px;
  
    .navbar {
      .carrito-celular, .row a {
        display: none;
      }
    }
  
    &.navbar a {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
    }
  
    .navbar {
      .nav-link {
        color: #fff;
        font-size: 20px;
      }
  
      .collapse {
        .dropdown-menu {
          background-color: #242121;

          li .dropdown-item{
            color: #fff;
          }
        }
  
        .form-control {
          height: 49px;
          margin-top: 15px;
        }
  
        .d-flex button {
          margin-right: 10px;
          outline: 1.5px solid orange;
          color: orange;
          height: 47px;
  
          &:hover {
            background-color: orange;
            color: #fff;
          }
        }
      }
  
      img {
        width: 40px;
        margin-bottom: 2px;
        margin-right: 15px;
        cursor: pointer;
      }
  
      .collapse .nav-link:hover {
        color: black;
      }

      .collapse .dropdown-menu li .dropdown-item:hover{
        color:black;
      }
    }
  }

  main {
    h1 {
      font-family: 'Montserrat', sans-serif;
      background-color: #242121;
      font-size: 70px;
  
      img {
        width: 60px;
        margin-bottom: 15px;
      }
    }
  
    .slogan {
      font-family: 'Montserrat', sans-serif;
      background-color: #242121;
    }
  
    .carousel-inner .img-carrousel {
      height: 450px;
      object-fit: cover;
    }

    h2 {
        letter-spacing: 4px;
        box-shadow: 6px 6px 5px #242121;
      }
    
      .row .card {
        box-shadow: 6px 6px 5px #242121;
        height: 485px;
    
        .card-img {
          height: 65%;
          object-fit: cover;
          border-bottom: 2px solid #242121;
        }
      }

      h3 {
        letter-spacing: 4px;
        box-shadow: 6px 6px 5px #242121;
      }
    
      .caja-video {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin: 20px;
    
        .video {
          margin: auto;
          width: 100%;
        }
      }

      .container-fluid .row .imagen-nosotros:hover, .container .row .imagen-contacto:hover {
        transform: translateY(-30px);
        transition: 0.9s;
      }
  }
  
  footer {
    background-color: #242121;
  
    .container-fluid .row {
      img {
        display: inline-block;
        width: 200px;
        height: 200px;
      }
  
      h5 {
        letter-spacing: 3px;
      }
  
      footer p {
        color: #fff;
        margin-top: 40px;
      }
    }
  
    ul:hover a {
      filter: blur(2px);
    }
  
      ul li {
        a:hover {
          transform: translateY(-3px) scale(1.05);
          box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
          filter: none;
        }

        :root {
          --instagram:#C13584;
          --whatsapp:#25D366;
          --facebook:#4267B2;
        }
  
        .instagram:hover {
          background-color: var(--instagram);
          padding: 8px 15px;
        }
  
        .whatsapp:hover {
          background-color: var(--whatsapp);
          padding: 8px 15px;
        }
  
        .facebook:hover {
          background-color: var(--facebook);
          padding: 8px 15px;
        }
  
        font-size: 30px;
      }
  
      a img {
        width: 55px;
        height: 35px;
      }
  }

  @media (max-width: 995px) {
    header .navbar {
      .row {
        width: 100%;
        margin-left: 0;
      }
  
      .carrito-celular {
        display: inline-block;
      }
  
      .row {
        a {
          display: block;
          margin: auto;
          width: 70%;
        }
  
        img {
          float: right;
        }
      }
  
      .carrito {
        display: none;
      }
    }
  
    main {
      h1 a, .container-fluid .row .imagen-nosotros, .container .row .imagen-contacto {
        display: none;
      }
    }
  
    footer .container-fluid .row {
      &.logo, .ubicacion {
        display: none;
      }
    }
  }
  